<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mechachromemobileapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activities.BookSale.BookSalePage"/>
        <activity android:name=".Activities.BookSale.BookSale"/>
        <activity android:name=".Activities.BookSale.AddSaleBook" />
        <activity android:name=".Activities.User.UserAccount" />
        <activity android:name=".Activities.User.UserSettings" />
        <activity android:name=".Activities.User.UserInbox" />
        <activity android:name=".Activities.Library.ReserveBook" />
        <activity android:name=".Activities.Library.AddReview" />
        <activity android:name=".Activities.Library.BookPage" />
        <activity android:name=".Activities.Library.AddBook" />
        <activity android:name=".Activities.FloorPlan" />
        <activity android:name=".Activities.Library.LibraryAdmin" />
        <activity android:name=".Activities.Library.LibraryUser" />
        <activity android:name=".Activities.Forum.ForumPostReply" />
        <activity android:name=".Activities.Forum.ForumTopic" />
        <activity android:name=".Activities.Forum.ForumPostTopic" />
        <activity android:name=".Activities.Forum.Forum" />
        <activity android:name=".Activities.Timetables.Timetables" />
        <activity android:name=".Activities.User.Login" />
        <activity android:name=".Activities.User.Register" />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>